.box {
	font-size: 70px;
	height: 100vh;
	text-align: center;
	padding: 40vh 0 0 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.title {
	white-space: nowrap;
}

.title:hover {
	cursor: pointer;
}

.this-box-clicked > .title {
	cursor: default;
}

.buy-background {
	background-color: orange;
}

.sell-background {
	background-color: white;
}

.buy-color {
	color: white;
	border-color: white;
}

.sell-color {
	color: orange;
	border-color: orange;
}

.this-box-clicked {
	padding-top: 2vh;
	width: 100%;
}

.other-box-clicked {
	width: 0;
}

#back-arrow {
	position: absolute;
	z-index: 100;
	top: 6%;
	left: 6%;
	font-size: 30px;
	cursor: pointer;
}

.emerge {
	opacity: 1.0;
}

.emerge.ng-hide-add, .emerge.ng-hide-remove {
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.emerge.ng-hide {
	opacity: 0.0;
}

.slide {
	max-height: 200px;
}

.slide.ng-hide-add, .slide.ng-hide-remove {
	overflow: hidden;
	transition: max-height 0.3s ease;
	-webkit-transition: max-height 0.3s ease;
    -moz-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
}

.slide.ng-hide {
	max-height: 0px;
	overflow: hidden;
}