#sitemap {
	position: absolute;
	z-index: 100;
	bottom: 3%;
	width: 100%;
}

#logo {
	font-size: 30px;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	display: inline;
	cursor: pointer;
}

.sitemap-option {
	font-size: 20px !important;
	display: inline !important;
	margin-left: 3% !important;
	cursor: pointer !important;
}