<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Jumbooks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="js/homepage.js"></script>
	<link rel="stylesheet" href="../css/all.css"/>
	<link rel="stylesheet" href="../css/contact.css"/>
</head>

<body>
	<div class="form">
		<form action="mailto:someone@example.com" method="post" enctype="text/plain">
			<div class="message-block">
				<div class="message-title"> Name: </div>
				<textarea class="message-input name" type="text" name="Name" placeholder="What'd they call you?"></textarea>
			</div>
			<div class="message-block">
				<div class="message-title"> Email: </div>
				<textarea class="message-input email" type="text" name="Email" placeholder="holla at"></textarea>
			</div>
			<div class="message-block">
				<div class="message-title"> Message: </div>
			<textarea class="message-input content" type="text" name="You want to tell us..." placeholder="We're here to listeeeeeeen"></textarea>
			</div>
			<input class="message-submit" type="submit" value="send">
		</form>
	</div>
</body>

</html>